# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
.sw?

# Firebase
.firebase/
functions/lib/
functions/node_modules/
functions/firebase-tmp/
.runtimeconfig.json

# Build
dist/
dist-ssr/
dist-extension/
build/
.cache/

# Environment Variables
.env
.env.local
.env.*.local

# Service Account Keys
*-adminsdk-*.json
*-service-account*.json
