rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /products/{merchantId}/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == merchantId;
    }
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    // Allow public access to annotations
    match /annotations/{resumeId}/{fileName} {
      allow read, write: if true;
    }
    // Allow public access to public assets
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}