@tailwind base;
@tailwind components;
@tailwind utilities;

/* Existing animations... */

@keyframes bounce-horizontal {

    0%,
    100% {
        transform: translateX(0) translateY(-50%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateX(-25%) translateY(-50%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-bounce-horizontal {
    animation: bounce-horizontal 1s infinite;
}